.book-list-container{
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    margin: 30px auto;
}
.book-list-wrapper{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-row-gap: 20px; 
    grid-column-gap: 80px;
    padding: 0;
}
.book-list-container > .book-status{
    background-color: #FC7C12;
    border-radius: 20px;
    padding: 6px;
    display: block;
    width: 100px;
    color: #fff;
    font-size: 16px;
}
.no-book-data{
    margin: 40px auto;
    font-size: 16px;
}