.book-sale-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    background-color: #fff;
    margin: 40px 20%;
    overflow: hidden;
}
.book-sale-main-container h3 {
    font-size: 18px;
    margin: 10px;
}
.book-sale-header-container {
    display: flex;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    background-color: #0F5493;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.book-sale-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.book-search-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    border: 1px solid #000;
    width: 60%;
    border-radius: 20px;
    padding: 5px 15px;
}
.book-search-wrapper .book-search-input {
    border: none;
    background-color: transparent;
    font-size: 14px;
    padding: 5px 5px;
    margin-right: 3px;
    flex:1;
}
.book-search-wrapper .book-search-input:focus {
    outline: none;
}
.book-search-wrapper img {
    width: 25px;
    cursor: pointer;
}

/*book-info-wrapper*/
.book-info-wrapper{
    display: flex;
    flex-direction: row;
    background-color: #F5F8FC;
    padding: 20px 40px;
    border-radius: 20px;
    margin-top: 30px;
    align-items: center;
}
.book-info-inner{
    display: flex;
    flex-direction: column;
}
.book-info-wrapper #image{
    width: 120px;
    height: auto;
    margin-left: 40px;
}
.form-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
.form-group label{
    font-size: 14px;
    color: #A4A8AA;
    width: 60px;
    display: inline-block;
    text-align: left;
}
.form-group input{
    border: none;
    background-color: transparent;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 5px 15px;
    margin-right: 3px;
    width: 300px;
}
.form-group input[type=number] {
    width: 100px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-group input::placeholder{
    color: #c3c5c5;
}
.form-group #isbn{
    width: 300px;
}
.category-input-select{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 15px;
    background-image: url('../assets/icons/drop-down.png');
    background-repeat: no-repeat;
    background-position: right 6px center;
    background-size: 25px;
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
    align-self: right;
    font-size: 14px;
    color: #000;
    background-color: transparent;
    width: 330px;
}
.category-input-select option{
    color: #000;
    background-color: #fff;
}
.category-input-select:focus, 
.category-input-select:active {
    outline: none; 
}

/*book-condition-wrapper*/
.book-condition-wrapper{
    background-color: #F5F8FC;
    padding: 20px 40px;
    border-radius: 20px;
    margin-top: 30px;
}
.book-condition-wrapper h3{
    margin: 15px;
}

.book-price-wrapper{
    margin-top: 30px;
}
.book-price-wrapper .price-input{
    border: none;
    background-color: transparent;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 3px 15px;
}
input[type=number]::-webkit-inner-spin-button {
    opacity: 0
}

/*book-real-image-wrapper*/
.book-real-image-wrapper{
    margin-top: 30px;
}
.book-real-image-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

/*book-description-wrapper*/
.book-description-wrapper{
    margin-top: 30px;
}
#descriptionInput{
    border: none;
    background-color: transparent;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #000;
    padding: 10px 20px;
}

/*book-sale-address-wrapper*/
.book-sale-address-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.book-address-input-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid #000;
}
.book-address-input-wrapper img{
    width: 22px;
    cursor: pointer;
}
#addressInput{
    border: none;
    background-color: transparent;
    font-size: 14px;
    width: 220px;
}
#addressInput:focus{
    outline: none;
}
.book-address-list {
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 150px;
    overflow-y: auto;
    padding: 0 25px;
}
.book-address-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}
.book-address-list::-webkit-scrollbar {
    width: 6px;
}
.book-address-list::-webkit-scrollbar-thumb {
    background: #c4c1c1;
    border-radius: 5px;
}
.address-item {
    cursor: pointer;
    padding: 5px 0;
    font-size: 14px;
}
.address-item:hover {
    background-color: #e0e0e0;
}

input[type=radio] {
    display: none;
}
.sale-save-btn{
    background-color: #0F5493;
    border: none;
    border-radius: 20px;
    padding: 7px 30px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 30px;
}

/*rent-period-input*/
.book-rent-period-wrapper{
    margin-top: 30px;
}
.rent-period-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    gap: 40px;
}
.rent-period-input label{
    margin-right: 5px;
    font-size: 14px;
}