.detail-book-container{
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 20px auto;
}
.no-book-info{
    margin: 30px auto;
}
.detail-book-container h3 {
    font-size: 20px;
    font-weight: 700;
    color: #1F4E94;
    text-align: left;
    margin: 0;
}
/*user-info-container*/
.user-info-container {
    display: flex;
    margin-left: 10px;
}
.user-info-container img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.user-info-container .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    text-align: left;
}
.user-info-container .wrapper > span {
    font-size: 18px;
    font-weight: 700;
}
.user-info-container .wrapper .book-status{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background-color: #FC7C12;
    border-radius: 20px;
    padding: 3px 20px;
    margin-top: 5px;
}

/*book-info-container*/
.book-info-container {
    width: 90%;
    margin-left: auto;
}
.book-info {
    display: flex;
    align-items: flex-start;
}
.book-info img{
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 1%;
    transform: translateY(-50%);
    cursor: pointer;
}
.book-info > div > span {
    color : #A4A8AA;
    width: 70px;
    display: inline-block;
    text-align: left;
    margin-top: 3px;
}
.book-info .go-to-chat-btn{
    background-color: #0D9276;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 30px;
    right: 1%;
    transform: translateY(50%);
    cursor: pointer;
}

/*condition-container*/
.condition-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.condition-image {
    text-align: left;
    margin-top: 20px;
}
.image-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 10px;
    padding: 0 40px;
}
.image-wrapper img {
    width: 100px;
    height: auto;
    border: 1px solid #D9D9D9;
}

.condition-content {
    background-color: #F5F8FC;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 40px;
    flex: 3;
}
.condition-content h3 {
    margin-bottom: 12px;
}

.description-container{
    font-size: 16px;
    text-align: left;
    margin-top: 10px; 
    flex: 2;
    margin-left: 30px;
}
.address-container-inner{
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}
.address-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.address-wrapper img{
    width: 22px;
    height: 22px;
}
.address{
    font-size: 16px;
}
.go-to-map-btn{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;
}
.go-to-map-btn img{
    width: 18px;
    height: 18px;
    margin-left: 3px;
}