.main-container{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    margin: 0 100px;
}

/*book-list-container*/
.sorting-container button {
    background-color: #E0E6ED;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 8px;
    cursor: pointer;
    width: 8%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sorting-container button:hover {
    background-color: #ccd1d5;
}
.sorting-container {
    text-align: left;
    padding-left: 100px;
}
.book-list-container{
    display: flex;
    flex-direction: column;
    border: 1px solid #B6BBC0;
    border-radius: 20px;
    background-color: #fff;
    padding: 30px 0;
}
.book-list-content {
    padding: 0 100px;
}
.book-list-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-row-gap: 0; 
    grid-column-gap: 40px;
    padding: 0;
}


/*best-sellers-container*/
.best-sellers-container{
    border-radius: 20px;
    margin-top: 60px;
    background-color: #EAF5E9;
    padding: 20px 60px;
}
.best-sellers-title{
    font-size: 35px;
    font-weight: 400;
    text-align: left;
    padding: 0;
    margin: 0;
}
.best-sellers-title span {
    color: #32C82F;
}
.best-sellers-category-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
}
.best-sellers-category-wrapper button{
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    margin-right: 8px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex:1;
    border: 1px solid #B6BBC0;
}
.best-sellers-list-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin: 30px auto;
    padding: 0;
}

/*interest-container*/
.interest-container{
    border-radius: 20px;
    margin-top: 60px;
    margin-bottom: 30px;
    background-color: #EAF5E9;
    padding: 60px;
    display: flex;
    flex-direction: row;
}
.intro-wrapper {
    width: 15%;
    margin-right: 20px;
}
.intro-wrapper > .intro-title {
    font-size: 35px;
    font-weight: 400;
    text-align: left;
    padding: 0;
    margin: 0;
}
.intro-wrapper > .intro-title span{
    color: #32C82F;
}
.intro-wrapper > .intro-content {
    font-size: 16px;
    font-weight: 600;
    margin-top: 40px;
    text-align: left;
}
.interest-wrapper {
    width: 85%;
}
.interest-book-wrapper {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.show-more-btn{
    background-color: #0D9276;
    border: none;
    padding: 5px 25px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 40px;
    color: #fff;
}