.my-page-container{
    border-radius: 20px;
    padding: 40px;
}
.user-container > .user-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.user-container > h3{
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.history-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    border-radius: 20px;
    width: 60%;
    margin: 20px auto;
    overflow: hidden;
}

.history-list{
    list-style: none;
    margin: 20px auto;
    width: 70%;
}

.history-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.history-header li{
    margin: 0;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    flex: 1;
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #D9DFE1 100%);
    cursor: pointer;
    border-left: 1px solid #a9adaf;
}
.history-header li:first-child{
    border-left: none;
}
.tab.active {
    background-image : none;
    background-color: #0F5493;
    color: #fff;
}
