@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 180px;
    margin: 0 auto;
}

.best-seller-item h3 {
    margin: 5px 0;
}

.best-seller-item img {
    width: 70%;
    height: auto;
    border: 1px solid #B6BBC0;
    margin-top: 15px;
}

.best-seller-item-title {
    font-size: 14px;
    font-weight: 400;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 12px;
    color: black;
}

.best-seller-item-count {
    font-size: 18px;
    font-weight: 800;
    color: #1163b4;
    margin-top: 5px;
}

.best-seller-item-rank {
    font-size: 33px;
    font-weight: 600;
    color: #dd4d4d;
    text-shadow: 2px 2px 4px rgba(52, 20, 168, 0.5);
    font-family: "Poetsen One", sans-serif;
    font-style: oblique;
}