.best-sellers-list-wrapper{
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 280px;
    margin: 30px auto;
    padding: 0;
    gap: 30px;
    justify-content: center;
}
.slide-in {
    animation: slideFromRight 0.2s ease-in-out forwards;
}
@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}
