.best-sellers-list-wrapper{
    display: flex;
    flex-direction: row;
    /* width: 1000px; */
    height: 280px;
    margin: 30px auto;
    padding: 0;
    gap: 30px;
    justify-content: center;
}
.bestSeller-book-item{
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    width: 150px;
    height: 250px;
}
.bestSeller-book-itemm > img {
    width: 70%;
    height: auto;
    border: 1px solid #B6BBC0;
    margin-top: 15px;
}
.bestSeller-book-item > .title {
    font-size: 12px;
    font-weight: 600;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 12px;
}
.slide-in {
    animation: slideFromRight 0.2s ease-in-out forwards;
}
@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}
