.chatting-container{
    width: 300px;
    height: 400px;
    /* position: fixed;
    bottom: 0;
    right:30px; */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    z-index: 900;
    display: flex;
    flex-direction: column;
}
.chatting-header{
    height: 7%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.chatting-user-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.chatting-user-wrapper >img{
    width: 35px;
    height: 35px;
    border-radius: 50px;
}
.chatting-user-wrapper > h3 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.chatting-header > img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.chatting-content{
    flex:1;
}
.chatting-input-container{
    height: 8%;
    border: 1px solid #28569B;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
    gap: 10px;
}
.chatting-input-container img{
    width: 25px;
    height: 25px
}
#chatInput {
    border: none;
    background-color: transparent;
    margin: 0;
}
#chatInput:focus{
    outline:none
}