.condition-list {
    list-style: none;
    text-align: left;
    display: inline-block;
    padding: 0; 
    margin: 0;
    font-size: 14px;
}
.disabled-list {
    pointer-events: none;
}
.condition-list li > span {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 800;
    padding: 0;
    width: 90px;
}


.condition-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.condition-list label {
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.condition-list input[type="radio"] {
    display: none;
}

.condition-list input[type="radio"] + label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../assets/icons/radioUnchecked.png');
    background-size: cover;
}

.condition-list input[type="radio"]:checked + label::before {
    background-image: url('../assets/icons/radioChecked.png');
}


.radio-label1 {
    width: 60px;
}
.radio-label2 {
    width: 110px;
}



