
.history-item{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: inherit;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.history-book-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.history-book-img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border: 1px solid #ddd;
}
.history-book-title{
    font-size: 16px;
    font-weight: 600;
}
.history-book-price{
    font-size: 16px;
    color: #0F5493;
    font-weight: 600;
}
.history-book-status{
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    background-color: #FC7C12;
    padding: 5px;
    border-radius: 20px;
    width: 90px;
    font-weight: 400;
}

.option {
    width: 30px;
    height: auto;
    position: absolute;
    right: 30px;
    top: 40px;
    transform: translateY(-50%);
    cursor: pointer;
}

.option-box{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #F4F4F5;
    position: absolute;
    right: 40px;
    top: 100px;
    transform: translateY(-50%);
}
.option-box li{
    padding: 5px 20px;
    color: #000;
    cursor: pointer;
    margin: 0;
}
.option-box li:hover{
    background-color: #E0E0E0;
}