.book-upload{
    width: 120px;
    height: 160px;
    background-color: #eaecee;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-upload .add-icon{
    width: 40px;
}
input[type="file"]{
    display: none;
}
.book-img{
    border-radius: 5px;
    width: 120px;
    height: 160px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.delete-icon{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 22px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
}